html,
body,
#app {
    width: 100%;
    height: 100%;
}

.container-fluid  {
    padding-right: 0  !important;
    padding-left: 0 !important;
}


/* Login */
.login {
	border: 1px solid black;
	width: 400px;
	height: 450px;
	margin: 100px 100px 0 auto;
	text-align: center;

}

.login_scan_panel_pwd_title {
	margin-top: 20px;
}

.login .login-item-content {
	margin-top: 30px;
}

.login .login-item-content {
	position: relative;
}

.login .login-item-content input {
	height: 32px;
	width: 250px;
}

.login .login-item-content label {
    line-height: 32px;
    font-weight: 800;
	margin-right: 5px;
	color: #888;
	font-size: 14px;
}

.login .login-button {
	margin-top: 50px;
}

.login .login-button button {
	width: 250px;
	height: 38px;
}

.login-btn-hidd {
	display: none;
	background-color: #111;
}

.login-hd {
	font-size: 0;
	text-align: left;
	padding: 1px;
}

.login-item {
	display: inline-block;
	text-align: center;
	width: 197px;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	color: #626262;
}

.login-selected {
	background: #eee;
	box-shadow: 0px 1px 1px 1px #eee;
}
/* Login End */


#app>.container-fluid {
    width: 100%;
    height: 100%;
}
#app>.main {
	min-width: 1024px;
}
#app .left-navs {
    height: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-right: 1px solid #ddd;
    width: 280px;

}
#app .main-box {
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
	height: 100%;
	width: calc(100% - 280px);
}

.topic {
	width:80%;
}

.cursor-pointer {
	cursor: pointer;
}